/*----------------GLOBALS----------------------*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    color: black;
    font-family: 'Avenir Next';
    /*background-color: LightCyan;*/
}
.container {
    margin: 0px;
    padding: 0px;
}
.row {

}

h1 {
    
}
img {
    width: 100%;
    height: auto;
}

a {
    color: darkslategrey;
    cursor: pointer;
}
a:hover {
    color: slategrey;
}

section {
}

.cntr {
    text-align: center;
}

.classWithPad { 
    margin: 45px; 
    padding: 45px; 
}

.border {
    border: 10px solid darkslategrey;
    border-radius: 15px;
    /*background-color: powderblue;*/
}

.cntr_header {
    text-align: center;    
}

/*----------------------NAV BAR----------------------*/

#navbar-brand-top {
    color: black;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 71px;
    height: 6px;
    border-radius: 20px;
    background-color: #8a6d3b;
    
}

.icon-bar {
    
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(100,45,16, 0.8);
}
.navbar-default .navbar-nav>li>a {
    color: darkslategrey;
    margin-top: 24px;
    font-size: 1.2em;
    text-align: center;
}
.navbar-default .navbar-nav>li>a:hover{
    color: slategrey;
}
.navbar {
    border-bottom: 5px solid darkslategrey;
    background-color: rgba(141,185,53, .9); 
    height: 60px;

}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}
.navbar-toggle {
  padding: 0px;
  border: none;
    
}
.navbar-default .navbar-toggle .collapse {
  border-color: #563D7C;
  background-color: black;
}


.navbar-header h1 {
    font-size: 30px;
    margin-top: 15px;

}



button.navbar-toggle {
    opacity: .9;
    margin-top: 20px;
}

.navbar-default .navbar-text {
    margin-top: 10px;
    display: inline-block;
    color: darkslategrey
}
.navbar-right {
    float: right!important;
    margin-right: 15px;
    max-width: 89%;
}
#contact {
    color: black;
}
.contact { 
    border-radius: 5px;
}


.line_up_id_click { 
border-top: 60px solid transparent;
margin-top: -65px;
-webkit-background-clip: padding box;
-moz-background-clip: padding;
background-clip: padding-box;
}

header {
    /*background: url('images/leaves_left_crop.png') no-repeat;*/
}


/*----------------------LANDING / CAROUSEL---------------------*/

.landing-box {
    /*margin-top: 20px;*/
    position: relative;
    height: 600px;
    width: 100%;
}


.fixed-section {
    /*min-height: 600px;*/
    /*position: fixed;*/
    top: 0;
    z-index: -99;
    background: url('images/mountain-valley-1.jpg') no-repeat;
    background-size: full;
    background-position: bottom center;
    background-attachment: fixed;
}

.carousel {
    position: fixed;
    min-height: 400px;
    max-height: 600px;
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: transparent;
}

.carousel img {
/**/
    position: bottom center;
    size: cover;
}



.carousel .item {
    width:100%;
    height:100%;
}
.carousel-inner > .item > img {
    margin-top: 70px;
    min-width:100%;
    height:100%;
    top:30%;
  /*max-height: 600px;*/
}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*--------------------------ABOUT US---------------------------*/

.about_us p {
    padding: 0px 80px 0px 80px;
}
.hw_van {
    width: 760px;
    height: 650px;
    /*background-color: hsla(187,52%,80%, .8);*/
    background-image: url('images/hyperionvan2C.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: -20px;
 }

 .about_us {
    padding-top: 20px;
    background-color: ghostwhite;
;
}

/*--------------------------------WHAT WE DO----------------------*/
.what_we_do {
    background-color: lightgrey;

}

.wwd_blurb {
    font-size: 24px;
    padding: 0px 80px 0px 80px;

}

.what_we_do h3 {
    text-decoration: underline;
    text-align: center;
}

/*--------------------------------PRODUCTS-------------------------*/

.products {
    background-color: ghostwhite;
    padding-top: -20px; 
}

.card-img-top {
    border-radius: 5px 80px 5px;
}

.card-img-top:hover{
    /*margin:2px;*/ /*shit yeah*/
}

.card {
    padding: 5px;
}

.prod img {
    margin: 0 auto;
}

.prod-info {
    border-top: 3px solid black;
}

.prod {
    text-align: center;
    overflow: hidden auto;
}

.prod_logo {
    float: left;
}

/*----------------MANUFACTURERs---------------------*/

#manufacturers {
    padding: 10px 15px 0px 15px;
    background-color: ghostwhite;
}

.manufacturersClass {
    border-bottom: 3px solid black;

}

/*-----------------------TEAM SECTION-------------------------------*/

.our_team {
    background-color: white;
}

/*------------------------TERRITORY-----------------------------------*/

.map {
    border: 3px solid black;
}

/*-------------------------Footer------------------------------*/

#footer{
}

footer {
    /*padding: 30px;*/
    background-color: lightgrey;
    margin: 0 auto;
    text-align: center;
    color: black;
    position: relative;
    min-height: 300px;
   /* bottom: 0;
    width: 100%;
    padding: 30px 0px;
    z-index: -99;*/
    /*height: 200px;*/
}

.footer_stuff {
    /*max-width: 700px;*/
    margin: 0 auto;
    padding-top: 30px;
}

footer ul {
    list-style: none;
}


/*------------------Media Queries-----------------------------*/


@media (max-width: 811px){
    .navbar-brand h1 {
        font-size: 22px;
        margin-top: 25px
    }
    .navbar-brand img {
        width: 89%;
        height: auto;
    }
    .nav-custom {
        background-color: lightgrey;
        background-size: full;
        /*opacity: .9;*/
        border: transparent;
    }
    .about_us p {
    padding: 0px 40px 0px 40px;
    }
}

@media (max-width: 511px){
    .navbar-brand h1 {
        font-size: 22px;
        margin-top: 25px
    }
    .navbar-brand img {
        width: 69%;
        height: auto;
    }
    .nav-custom {
        background-color: lightgrey;
        background-size: full;
        /*opacity: .9;*/
        border: transparent;

    }
    .about_us p {
    padding: 0px 20px 0px 20px;
    }
}
